*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #BAE8E8;
    padding: 15px;
}
.navbar a{
    text-decoration: none;
    color: #2A4B68;
}

.logo{
    margin-right: 50px;
}

.list{
    list-style: none;
    display: flex;
    gap: 25px;
    margin-right: 20px;
}
/* #toggler,
.navbar label{
    display: none;
} */

@media screen and (max-width:600px) 
{
 .menu{
    width: 100%;
    max-height: 0%;
    overflow: hidden;
 }
 
 .list{
    flex-direction: column;
    align-items: center;
    padding: 20px;
 }

 .navbar label{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
 }
}
a{
    font-weight: 500;
}
.intro{
    height: 500px;
    background-color: #E3F3F4;
}

.hello{
    position: absolute;
    top: 130px;
    left: 150px;
    font-size: 40px;
}

.name{
    position: absolute;
    top: 180px;
    left: 150px;
    font-size: 40px;
}

.work{
    position: absolute;
    top: 250px;
    left: 150px;
    font-size: 20px;
}

.illu{
    position: absolute;
    top: 150px;
    right: 150px;
}

.about{
    height: 400px;
    background-color: lightgrey;
}

.ab{
    text-align: center;
    padding-top: 40px;
}
.para{
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.work{
    height: 400px;
    background-color: antiquewhite;
    position: absolute;
    top: 954px;
    left: 0px;
}
.sample{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}
.wrk{
    text-align: center;
    margin-top: 20px;
}